html, body {
  margin: 0;
  padding: 0;
  display: flex;
}

canvas {
  display: block;
}

#inputContainer {
  /* display: inline-block; */
  width: 32.5vw;
  min-width: 400px;
  height: 100vh;
  background: black;
  position: relative;
  /* margin: 0; */
}

#inputContainer > * {
  width: 50%;
  margin: 0 auto;
  position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateY(-50%); */
    transform: translate(-50%, -50%);
}


button {
  display: block;
  margin: 8px auto;
}

span > label {
  width: 100%;
  display: block;
  background: white;
  margin:24px auto 8px;
  text-align: left;
}

input {
  display: block;
  width: 100%;
  margin: 0 auto 16px;
}

#canvasContainer {
  width: 67.5vw;
  height: 100vh;
  background: lightgray;
  float:right;
  /* overflow: hidden; */
}

/* #canvasContainer > * {
  margin: 0 auto;
} */
